# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
.venv/
env/
venv/

# Streamlit cache
.streamlit/

# YOLO / Ultralytics runs
runs/
runs_video/
egg_runs/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
